= content_for :sidebar do
  .checkout
    %dl
      %dt Are my card details safe?
      %dd NO! This is a TEST WEBSITE for users to become more familiar with Ruby. Please DO NOT put any personal information into the fields.
      %dt How long will my order take to arrive?
      %dd You'll never receive your order. This is a TEST WEBSITE. No one will be filling orders.
      %dt What payment methods do you accept?
      %dd This is a TEST WEBSITE. Please do not enter any personal information into the fields.
